<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.krbashianrafael.medpunkt">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_add_box_green_48dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_add_circle_green_48dp"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UsersActivity"
            android:label="@string/title_activity_users"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".UserActivity"
            android:label="@string/title_activity_user"
            android:screenOrientation="portrait">
        </activity>



        <activity
            android:name=".old_UserActivity"
            android:label="@string/title_activity_user"
            android:parentActivityName=".UsersActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UsersActivity" />
        </activity>
        <activity
            android:name=".WhenAndWhatDieseasActivity"
            android:label="@string/when_and_what_diseases"
            android:parentActivityName=".old_UserActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".old_UserActivity" />
        </activity>
        <activity
            android:name=".WhenAndWhatTreatmentActivity"
            android:label="@string/when_and_how_treated"
            android:parentActivityName=".WhenAndWhatDieseasActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WhenAndWhatDieseasActivity" />
        </activity>
        <activity
            android:name=".TreatmentPhotoActivity"
            android:label="@string/title_treatment_photo"
            android:parentActivityName=".WhenAndWhatTreatmentActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WhenAndWhatTreatmentActivity" />
        </activity>


    </application>

</manifest>